{{define "header"}}
<!doctype html>
<HTML lang="en" class="h-100">
  <HEAD>
    <META charset="utf-8">
    <META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <LINK rel="stylesheet" href="/assets/bootstrap.min.css">
    <LINK rel="stylesheet" href="/assets/style.css">
    <SCRIPT src="/assets/jquery-3.4.1.slim.min.js"></SCRIPT>
    <SCRIPT src="/assets/bootstrap.min.js"></SCRIPT>
    <TITLE>Morse Blinkies as a Service</TITLE>
  </HEAD>
  <BODY class="d-flex flex-column h-100">
    <HEADER>
      <NAV class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <A class="navbar-brand" href="/">Morse Blinkies as a Service</A>
      </NAV>
    </HEADER>
    <MAIN role="main" class="flex-shrink-0">
{{end}}
