{{define "home"}}
{{template "header" .}}
<DIV class="container mt-4">
  <DIV class="alert alert-secondary" role="alert">
    Wondering what exactly this is?  <A href="/info/help.html">Help</A> is available...
  </DIV>
  <DIV class="mt-5">
    <FORM action="/" method="post">
      <DIV class="form-group row">
        <LABEL for="blinky-text"><STRONG>Blinky text</STRONG></LABEL>
        <INPUT type="text" id="blinky-text" name="blinky-text" class="form-control"
               required autofocus/>
        <SMALL id="blinky-text-help" class="form-text text-muted">
          This is the text your blinky will flash in Morse code.
        </SMALL>
      </DIV>

      <DIV class="form-group row mt-4 mb-0">
        <LABEL><STRONG>Blinky type</STRONG></LABEL>
      </DIV>

      <DIV class="form-group mb-3">
        <DIV class="form-check">
          <INPUT class="form-check-input" type="radio" name="led-type"
                 id="led-type-single" value="single" checked>
          <LABEL class="form-check-label" for="led-type-single">
            Single LED
          </LABEL>
        </DIV>
        <DIV class="form-check">
          <INPUT class="form-check-input" type="radio" name="led-type"
                 id="led-type-multi" value="multi">
          <LABEL class="form-check-label" for="led-type-multi">
            One LED group per letter
          </LABEL>
        </DIV>
      </DIV>

      <DIV class="form-group row mt-4">
        <LABEL for="blinky-text"><STRONG>LED group sizes</STRONG></LABEL>
        <INPUT type="text" id="led-groups" name="led-groups" class="form-control" disabled/>
        <SMALL id="led-groups-help" class="form-text text-muted">
          Comma-separated list of LED group sizes, e.g. "3,3,3" (only if using LED groups).
        </SMALL>
      </DIV>

      <DIV class="form-group row mt-4">
        <LABEL for="blink-rate"><STRONG>Blink rate</STRONG></LABEL>
        <SELECT class="form-control" id="blink-rate">
          <OPTION value="125">125 ms</OPTION>
          <OPTION value="250">250 ms</OPTION>
          <OPTION value="500" selected>500 ms</OPTION>
          <OPTION value="750">750 ms</OPTION>
        </SELECT>
        <SMALL id="led-groups-help" class="form-text text-muted">
          Length of a Morse code dot in milliseconds.
        </SMALL>
      </DIV>

      <DIV class="form-group row mt-4">
        <BUTTON type="submit" class="btn btn-primary">
          Make my blinky!
        </BUTTON>
      </DIV>
      <DIV class="row mt-0">
        <A href="/advanced">Advanced version</A>
      </DIV>
    </FORM>
  </DIV>
</DIV>
{{template "footer"}}
{{end}}
